<div class="center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Админ?</strong>
    <%= @user.is_admin %>
  </p>

  <p>
    <strong>Имя:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Электронная почта:</strong>
    <%= @user.email %>
  </p>
  <%= link_to 'Редактировать', edit_user_path(@user) %> |
  <%= link_to 'Назад', users_path %>
</div>